#my-preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99;
    height: 100%;
}

#my-preloader-animation  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 2%;
     background-image: url(../images/preloaders/487.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
}